body {
    font-family: 'Noto Sans', sans-serif;
}

.colorDisplayer {
    width          : auto;
    max-width: 50vw;
    height         : 200px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    margin         : 10px auto;
    border         : 10px solid grey;
    box-sizing     : border-box;
    border-radius  : 12px;
    fieldset{
        display: flex;
        flex-direction: column;
        legend{
            font-weight: bold;
        }
        input{
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            font-size: 20px
        };
    }
    .currentCode{
        margin: 0 20px;
    }
}

.textColorInput {
    width: 100px;
}

.paletteByLuminanceBoard {
    margin : 2px;
    padding: 2px;

    .paletteByLuminance {
        display        : flex;
        justify-content: center;
        align-items    : center;

        div {
            margin: 1px;
            width          : 50px;
            height         : 100px;
            display        : flex;
            justify-content: center;
            align-items    : center;
            border         : 1px solid black;
            font-weight    : bold;
            position: relative;
            cursor: pointer;
            h2{
                position: absolute;
                top: 75px;
            }
        }
    }
}

.grid{
    border: 1px solid red;
    height: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    .cell{
        height: 50px;
        border: 1px solid blue;
    }
}